
body {
    padding: 5px;
    margin: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0px 15px 0px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}

a:hover {
    background-color: gray;
    color: white;
}